* {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

p, h1, h2, h3, h4, h5, h6 {
  cursor: default; }

body {
  color: #fff;
  background-color: #fff; }

a {
  color: #019be5; }

.transition, #myLinks img, .image-overlay-main .image-overlay-text, .image-overlay-main .bubbleLink, .image-overlay-main .bubbleLink1, .image-overlay-main .bubbleLink2 {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.row, .col {
  padding: 0px !important;
  margin: 0px; }

.page-big #page-home-background {
  position: fixed; }
  .page-big #page-home-background #page-home-inner {
    height: 100vh;
    overflow-y: auto; }
.page-big #projectLinks {
  position: fixed; }

#page-home-background {
  background-color: #1976d2; }
  #page-home-background #page-home-inner {
    padding: 0px !important; }
    #page-home-background #page-home-inner #page-home-intro {
      background-color: #1976d2;
      padding: 10%; }

#page-projects-background {
  background-color: #0d47a1;
  min-height: 100vh; }

#projectLinks {
  z-index: 11;
  top: 0;
  color: #fff; }
  #projectLinks div {
    font-size: 150%;
    background-color: #0d47a1; }
    #projectLinks div p {
      margin: 10px;
      cursor: pointer; }
  #projectLinks .active {
    background-color: #1565c0; }

#myLinks {
  background-color: #0d47a1;
  margin-top: 6px; }
  #myLinks img {
    width: 60px;
    height: 60px; }
    #myLinks img:hover {
      margin-top: -5px;
      width: 70px;
      height: 70px; }

.stick-to-top {
  position: fixed;
  top: 0; }

.image-overlay-main {
  position: relative;
  margin: 0px !important;
  margin-bottom: -6px !important;
  padding: 0px !important; }
  .image-overlay-main .image-overlay-text {
    position: absolute;
    opacity: 0;
    z-index: 10;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 3.5%; }
    .image-overlay-main .image-overlay-text:hover {
      opacity: 1; }
    .image-overlay-main .image-overlay-text .image-overlay-text-title {
      text-align: center;
      font-style: bold; }
  .image-overlay-main .image-overlay-background {
    z-index: 1;
    width: 100%;
    height: 100%; }
  .image-overlay-main .bubbleLink1 {
    margin-left: -18px; }
    .image-overlay-main .bubbleLink1:hover {
      margin-left: -23px; }
  .image-overlay-main .bubbleLink2 {
    margin-left: 17px; }
    .image-overlay-main .bubbleLink2:hover {
      margin-left: 12px; }
  .image-overlay-main .bubbleLink, .image-overlay-main .bubbleLink1, .image-overlay-main .bubbleLink2 {
    z-index: 11;
    margin-top: -10px;
    width: 40px;
    position: absolute; }
    .image-overlay-main .bubbleLink:hover, .image-overlay-main .bubbleLink1:hover, .image-overlay-main .bubbleLink2:hover {
      margin-top: -15px;
      width: 50px; }

#contact-modal, #page-home-contact {
  padding: 10% !important;
  background-color: #1976d2 !important;
  max-height: 80vh !important; }
  #contact-modal h5, #page-home-contact h5 {
    font-size: 130%;
    margin-bottom: 20px; }
  #contact-modal #send-to-button, #page-home-contact #send-to-button {
    float: right;
    margin-bottom: 20px; }
  #contact-modal .input-field label, #page-home-contact .input-field label {
    color: #ffffff; }
  #contact-modal .input-field .prefix.active, #page-home-contact .input-field .prefix.active {
    color: #90caf9; }
  #contact-modal .input-field input[type=text], #contact-modal .input-field input[type=email], #contact-modal .input-field textarea[type=text], #page-home-contact .input-field input[type=text], #page-home-contact .input-field input[type=email], #page-home-contact .input-field textarea[type=text] {
    box-shadow: none;
    border-bottom: 1px solid #ffffff;
    color: #ffffff; }
    #contact-modal .input-field input[type=text]:focus, #contact-modal .input-field input[type=email]:focus, #contact-modal .input-field textarea[type=text]:focus, #page-home-contact .input-field input[type=text]:focus, #page-home-contact .input-field input[type=email]:focus, #page-home-contact .input-field textarea[type=text]:focus {
      border-bottom: 1px solid #90caf9; }
      #contact-modal .input-field input[type=text]:focus .invalid, #contact-modal .input-field input[type=email]:focus .invalid, #contact-modal .input-field textarea[type=text]:focus .invalid, #page-home-contact .input-field input[type=text]:focus .invalid, #page-home-contact .input-field input[type=email]:focus .invalid, #page-home-contact .input-field textarea[type=text]:focus .invalid {
        border-bottom: 1px solid #ba5947 !important; }
    #contact-modal .input-field input[type=text]:focus + label, #contact-modal .input-field input[type=email]:focus + label, #contact-modal .input-field textarea[type=text]:focus + label, #page-home-contact .input-field input[type=text]:focus + label, #page-home-contact .input-field input[type=email]:focus + label, #page-home-contact .input-field textarea[type=text]:focus + label {
      color: #90caf9; }

/*# sourceMappingURL=style.css.map */
