/*
Text Color Dark: #414141
Text Color Light: #5d5d5d;
Project text color: FFFFFF;
Highlight color: #0099ff
Overlay: rgba(22, 93, 136, 0.91)
*/

body {
  color: #5d5d5d;
}

.transition, .blue-on-hover, #projects .col a, #myLinks svg g, #projects .col div, #projects .col {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.blue-on-hover, #page-left #page-home-inner #navLinks p, #projects .col a, #aboutInner a {
  cursor: pointer; }
  .blue-on-hover:hover, #page-left #page-home-inner #navLinks p:hover, #projectLinks p:hover, #projects .col a:hover, #aboutInner a:hover {
    color: #0099ff; }

.row, .col {
  padding: 0px !important;
  margin: 0px; }

.page-big #page-left {
  position: fixed; }
  .page-big #page-left #page-home-inner {
    height: 100vh;
    overflow-y: auto; }
.page-big #page-right {
  padding-left: 0px !important; }

#page-left #page-home-inner {
  min-height: 100vh;
  padding: 10% !important; }
  #page-left #page-home-inner .center-align {
    width: 100%;
    margin-top: 50px; }
  #page-left #page-home-inner .landing-title {
    width: 40%; }
  #page-left #page-home-inner #navLinks p {
    font-size: 110%; }
  #page-left #page-home-inner #navLinks .active {
    text-decoration: underline; }

#page-right {
  padding-right: 10px !important;
  padding-left: 10px !important; }
  #page-right #aboutSection h1 {
    font-size: 320%;
    margin-left: 5vh; }
  #page-right #aboutSection {
    padding-top: 100px;
    padding-bottom: 100px; }
  #page-right #aboutSection {
    height: 100vh; }
    #page-right #aboutSection .valign {
      width: 100%; }

#myLinks svg {
  width: 20%;
  height: 20%;
  margin: -1%; }
  #myLinks svg g {
    fill: #5d5d5d; }
  #myLinks svg:hover g {
    fill: #0099ff; }

#projects .col {
  position: relative;
  margin: 0px !important;
  margin-bottom: -6px !important;
  padding: 10px !important; }
  #projects .col div {
    color: #FFFFFF;
    position: absolute;
    opacity: 0;
    z-index: 10;
    background-color: rgba(22, 93, 136, 0.91); }
    #projects .col div:hover {
      opacity: 1; }
    #projects .col div h4 {
      text-align: center;
      font-style: bold;
      margin-bottom: -2%; }
    #projects .col div p {
      margin: 5%; }
  #projects .col .image-overlay-background {
    z-index: 1;
    width: 100%;
    height: 100%; }
  #projects .col .link1 {
    margin-left: 0.5%; }
    #projects .col .link1:hover {
      margin-left: -0.5%; }
  #projects .col .link2 {
    margin-left: 10.5%; }
    #projects .col .link2:hover {
      margin-left: 9.5%; }
  #projects .col .link1, #projects .col .link2 {
    z-index: 11;
    margin-top: 0.5%;
    width: 12%;
    position: absolute; }
    #projects .col .link1:hover, #projects .col .link2:hover {
      margin-top: -0.5%;
      width: 14%; }
