.transition {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
body {
  color: #5D5D5D;
}
body g {
  fill: #5D5D5D;
}
body h3 {
  font-size: 210%;
}
body h4 {
  font-size: 140%;
}
body p {
  font-size: 120%;
}
.blue-on-hover {
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.blue-on-hover:hover {
  color: #0099FF;
}
.blue-on-hover:hover g {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  fill: #0099FF;
}
#page-left {
  width: 350px;
  margin-left: 200px;
  position: fixed;
}
#page-left .valign-wrapper {
  min-height: 100vh;
  padding: 10%;
}
#page-left .valign-wrapper .valign {
  width: 100%;
}
#page-left .valign-wrapper .valign #landing-title {
  width: 40%;
}
#page-left .valign-wrapper .valign #navLinks h4 {
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#page-left .valign-wrapper .valign #navLinks h4:hover {
  color: #0099FF;
}
#page-left .valign-wrapper .valign #navLinks h4:hover g {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  fill: #0099FF;
}
#page-left .valign-wrapper .valign #navLinks .active {
  text-decoration: underline;
}
#page-left .valign-wrapper .valign #myLinks svg {
  width: 25%;
  height: 25%;
  margin: -1%;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#page-left .valign-wrapper .valign #myLinks svg:hover {
  color: #0099FF;
}
#page-left .valign-wrapper .valign #myLinks svg:hover g {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  fill: #0099FF;
}
#page-right {
  margin-left: 600px;
  margin-right: 400px;
}
#page-right #aboutSection {
  height: 100vh;
}
#page-right #aboutSection .valign-wrapper {
  height: 100vh;
}
#page-right #aboutSection .valign-wrapper .valign .myButton {
  cursor: pointer;
  color: #0099ff;
}
#page-right #aboutSection #experiences,
#page-right #aboutSection #projects,
#page-right #aboutSection #initiatives {
  padding-top: 30vh;
  padding-bottom: 10vh;
}
#page-right #aboutSection #experiences .project,
#page-right #aboutSection #projects .project,
#page-right #aboutSection #initiatives .project {
  padding-bottom: 20px;
}
#page-right #aboutSection #experiences .project i,
#page-right #aboutSection #projects .project i,
#page-right #aboutSection #initiatives .project i {
  margin-right: 20px !important;
}
#page-right #aboutSection #experiences .project svg,
#page-right #aboutSection #projects .project svg,
#page-right #aboutSection #initiatives .project svg {
  margin-bottom: -12px !important;
  margin-right: -5px !important;
  width: 40px;
  margin: -5px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#page-right #aboutSection #experiences .project svg:hover,
#page-right #aboutSection #projects .project svg:hover,
#page-right #aboutSection #initiatives .project svg:hover {
  color: #0099FF;
}
#page-right #aboutSection #experiences .project svg:hover g,
#page-right #aboutSection #projects .project svg:hover g,
#page-right #aboutSection #initiatives .project svg:hover g {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  fill: #0099FF;
}
