* {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
p, h1, h2, h3, h4, h5, h6 {
	cursor: default;
}

.bubbleLink1 {
	margin-left: -5%;
}

.bubbleLink2 {
	margin-left: 3%;
}

.bubbleLink3 {
	margin-left: 11%;
}

.bubbleLink {
	z-index: 11;
	margin-top: -3%;
	width:10%;
	position:absolute;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.bubbleLink:hover {
	margin-top: -4%;
	width:12%;
}

.bubbleLink1:hover {
	margin-left: -6%;
}

.bubbleLink2:hover {
	margin-left: 2%;
}

.bubbleLink3:hover {
	margin-left: 10%;
}

#page-home-background {
	background-image: url("../images/back/1.jpg");
	width: 30%;
	float: left;
	position: fixed;
}

#page-projects-background {
	background-image: url("../images/back/2.jpg");
	width: 70%;
	float: right;
}

#projects-table {
	padding: 5%;
	background-color:rgba(3, 169, 244, 0.89);
}

.page-background {
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
}

#page-home {
	height: 100vh;
	background-color:rgba(33, 150, 243, 0.89);
}

#page-work {
	padding-top: 4%;
	/*background-color:rgba(243, 126, 33, 0.89);*/
	background-color:rgba(0, 188, 212, 0.89);
}

#page-contact {
	height: 100vh;
	/*background-color:rgba(243, 33, 150, 0.89);*/
	background-color:rgba(0, 169, 174, 0.89);
}

.image-overlay-project {
    background-color:rgba(253, 117, 211, 0.9);
    /*background-color:rgba(240, 98, 146, 0.89);*/
}

#contact-header {
	margin-top: 0;
	margin-bottom: 0;
}

#contact-header-sub {
	margin-top: 0;
}

.my-work-row {
	margin-bottom: 0vh !important;
	padding-bottom: 0vh !important;
}

#bubbleLinks {
	margin-top: -10px;
}

.bubbleLinkTop {
	width: 50px;
	height: 50px;
	margin: 0px;
	cursor: pointer;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.bubbleLinkTop:hover {
    width: 70px;
	height: 70px;
	margin: -10px;
    opacity:1;
}

#send-to-button {
	float: right;
}

body {
	color: #fff;
	background-color: #fff;
}

/*76	175	80	green
38, 163, 108
0	150	136		teal
0 169, 174
0 188	212*/
.cyan-teal {
	background-color: #00a9ae !important;
}

.teal-green {
  background-color: #26a36c !important;
}

.image-overlay-main {
	position: relative;
	margin-bottom: 20px;
}

.image-overlay-text {
	position: absolute;
    opacity:0;
    z-index: 10;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 3.5%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.image-overlay-text:hover {
    opacity:1;
}

.image-overlay-text-title {
	text-align: center;
	font-style: bold;
}

.image-overlay-text-main {
}

.image-overlay-background {
	z-index:1;
	width: 100%;
	height: 100%;
}

/* icon prefix, label focus color */
.input-field label {
    color: #fff;
}
   /* label focus color */
.input-field .prefix.active, .input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, .input-field textarea[type=text]:focus + label {
    color: #ce93d8;
}
   /* label focus color */
.input-field input[type=text]:invalid + label, .input-field input[type=email]:invalid + label, .input-field textarea[type=text]:invalid + label {
    color: #f44336;
}
	/* label unfocus color */
.input-field input[type=text], .input-field input[type=email], .input-field textarea[type=text] {
    border-bottom: 1px solid #fff;
    box-shadow: 0 0px 0 0 #fff;
}
   /* label underline focus color */
.input-field input[type=text]:focus, .input-field input[type=email]:focus, .input-field textarea[type=text]:focus {
    border-bottom: 1px solid #ce93d8;
    box-shadow: 0 0px 0 0 #fff;
}
  /* valid color */
.input-field input[type=text].valid, .input-field input[type=email].valid, .input-field textarea[type=text].valid {
    border-bottom: 1px solid #fff;
    box-shadow: 0 0px 0 0 #fff;
}
   /* invalid color */
.input-field input[type=text].invalid, .input-field input[type=email].invalid, .input-field textarea[type=text].invalid {
    border-bottom: 1px solid #f44336;
    box-shadow: 0 0px 0 0 #fff;
}