.transition {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
body {
  color: #B4B4B4;
}
.blue-on-hover {
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.blue-on-hover:hover {
  color: #165d88;
}
#landing-title {
  width: 40%;
}
#navLinks p {
  font-size: 110%;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#navLinks p:hover {
  color: #165d88;
}
#navLinks .active {
  text-decoration: underline;
}
#myLinks svg {
  width: 20%;
  height: 20%;
  margin: -1%;
}
#myLinks svg g {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  fill: #B4B4B4;
}
#myLinks svg:hover g {
  fill: #165d88;
}
