* {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

p, h1, h2, h3, h4, h5, h6 {
	cursor: default;
}

$form-focus-color: #FFC045;
$form-error-color: #ba5947;
$background-color: rgba(13, 59, 95, 0.89);
$badge-color: rgba(22,93,136, 0.91);

body {
	color: #fff;
	background:url("../images/back.jpg");
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
}

#overlay {
	z-index: -10;
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: $background-color;
}

.transition {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.blue-on-hover {
	cursor: pointer;
	@extend .transition;
	&:hover {
		color: $form-focus-color;
	}
}

.row, .col {
	padding: 0px !important;
	margin: 0px;
}

.page-big {
	#page-left {
		position: fixed;
		#page-home-inner {
			height: 100vh;
			overflow-y: auto;
		}
	}

	#page-right {
		padding-left: 0px !important;
	}
}

#page-left {
	#page-home-inner {
		min-height: 100vh;
		padding: 10% !important;
		.center-align {
			width: 100%;
			margin-top: 50px;
		}

		.landing-title {
			width: 40%;
		}

		#navLinks {
			p {
				font-size: 110%;
				@extend .blue-on-hover;
			}

			.active {
				text-decoration: underline;
			}
		}
	}
}

#page-right {
	padding-right: 10px !important;
	padding-left: 10px !important;

	.mainSections {
		h1 {
			font-size: 320%;
			margin-left: 5vh;
		}
	}

	#aboutSection, #projectSection {
		margin-bottom: 100px;
	}

	#aboutSection, #contactSection {
		height: 100vh;

		.valign {
			width: 100%;
		}
	}
}

#projectLinks {
	z-index: 11;
	margin-top: -10px;
	margin-bottom: -40px;
	p {
		font-size: 150%;
		@extend .blue-on-hover;
	}

	.active {
		text-decoration: underline;
	}
}

#myLinks {
	svg {
		width: 20%;
		height: 20%;
		margin: -1%;
		g {
			@extend .transition;
			fill: #fff;
		}
		&:hover {
			g {
				fill: $form-focus-color;
			}
		}
	}
}

.stick-to-top {
	position: fixed;
	top: 0;
}

#projectSection {
	.col {
		position: relative;
		margin: 0px !important;
		margin-bottom: -6px !important;
		padding: 10px !important;

		div {
			position: absolute;
		    opacity:0;
		    z-index: 10;
		    background-color: $badge-color;
		    @extend .transition;

		    &:hover {
		    	opacity:1;
		    }

		    h4 {
				text-align: center;
				font-style: bold;
				margin-bottom: -2%;
			}

			p {
				margin: 5%;
			}
		}	

		a {
			@extend .blue-on-hover;
		}

		.image-overlay-background {
			z-index:1;
			width: 100%;
			height: 100%;
		}

		.link1 {
			margin-left: 0.5%;
			&:hover {
				margin-left: -0.5%;
			}
		}

		.link2 {
			margin-left: 10.5%;
			&:hover {
				margin-left: 9.5%;
			}
		}

		.link1, .link2 {
			z-index: 11;
			margin-top: 0.5%;
			width:12%;
			position:absolute;
			@extend .transition;
		    &:hover {
				margin-top: -0.5%;
				width:14%;
			}
		}
	}
}

#aboutInner {
	width: 90%;
	padding-left: 10%;

	a {
		@extend .blue-on-hover;
	}
}

#page-home-contact {
	width: 90%;
	padding-left: 10%;

	h5 {
		font-size: 130%;
		margin-bottom: 20px;
	}

	#send-to-button {
		float: right;
		margin-bottom: 20px;
	}

	.input-field {
	    label {
		    color: #fff;
		}

		.prefix.active {
			color: $form-focus-color;
		}

		input[type=text], input[type=email], textarea[type=text] {
			box-shadow: none;
			border-bottom: 1px solid #fff;
			color: #fff;

	    	&:focus {
	    		border-bottom: 1px solid $form-focus-color;

	    		.invalid {
		    		border-bottom: 1px solid $form-error-color !important;
		    	}
	    	}
	    	&:focus + label {
				color: $form-focus-color;
			}
		}
	}

	button {
		text-transform: none;
		background-color: transparent !important;

		&:focus {
			background-color: transparent !important;
		}
		.waves-ripple {
			background-color: $form-focus-color;
		}
	}
}