body {
	font-family: 'Lato', sans-serif;
	font-weight: 300 !important;
	color: #555;
}




.shadowSmall {
	box-shadow: 		0px 0px 10px #000;
    -moz-box-shadow: 	0px 0px 10px #000;
	-webkit-box-shadow:	0px 0px 10px #000;
}
.shadow {
	box-shadow: 		0px 0px 20px #000;
    -moz-box-shadow: 	0px 0px 20px #000;
	-webkit-box-shadow: 0px 0px 20px #000;
}




.transparent {
  height:100vh;
  width: 100%;
  background-color : transparent;
}
#backgrounddiv {
	/*background: url("topBack.JPG");*/
    width: 100%;
    z-index:0;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 0;
}
#backgrounddivtop {
	width:100%;
	text-align: center;
	background-image: url("alt.png");
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 100vh !important;
    height: 100vh !important;
}
#toptext {
	vertical-align: middle;
    margin-top:32vh;
}
#topname {
	color: #FFFFFF;
	font-size: 400%;
}
#backgrounddivbottom {
	width:100%;
	text-align: center;
	background-image: url("binary.png");
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
    min-height: 100vh !important;
    height: 100vh !important;

}
#topLi1, #topLi2, #topLi3, #topLi4 {
	width: 60px;
	height: 60px;
}
#bottext {
	vertical-align: middle;
    margin-top:25vh;
}
#contactForm {
	width: 70%;
	margin-left: 15%;
	color: #000;
}






.inblue {
	background-color : transparent !important;
	border-color: transparent;
}
.outofblue {
	background-color : rgba(0, 153, 255, 0.8) !important;
	border-color: transparent;
}
#navbarMain {
	height: 60px;
	font-size: 140%;
}
#homeLink {
	margin-top: 15px;
	margin-left: 50px;
}
#navbar {
	margin-top: 26px;
}
li, #homeLink {
	cursor: pointer;
	color: #fff;
	font-size: 140%;
	margin-right: 20px;
}
#topLi4 {
	cursor: pointer;
}
#expandNavbar {
	margin-top: 22px;
}





#scrolling {
	position:relative;
    width:100%;
    background-color : #FFFFFF;
}
.mySection {
  width: 85%;
  text-align: left;
}
.myheaders {
 text-align: center;
 font-size: 400%;
 font-style: normal;
 margin-top:120px;
}
.mydividers {
 border:none;
 width:85%;
 background-color: #0099ff;
 height: 2px;
 margin-top:20px;
}
.psssssst {
	margin-top:25px;
	margin-bottom:90px;
	text-align: center;
	font-style: italic;
	font-size: 110%;
}
.paragraphheaders {
	text-indent: 20px;
 	text-align: left;
}
.paragraphs {
 text-align: left;
}

.myheaders, .mydividers, .paragraphheaders, .mylinks {
	color: #0099ff;
}
.mylinks {
	text-decoration: none !important;
	cursor: pointer;
}





.projectRows {
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 20px;
}
.projectLeft
{
	margin-left: -10px;
	margin-right: 10px;
	margin-bottom: 0px;
}
.projectRight
{
	margin-left: 10px;
	margin-right: -10px;
	margin-bottom: 0px;
}
.projectDescribe {
	margin-left: -15px;
	width:100%;
	position:absolute;
}
.bubbleLink1 {
	margin-left: -15px;
	width:100%;
	position:absolute;
}
.bubbleLink2 {
	margin-left: 25px;
	width:100%;
	position:absolute;
}
#myimage {
 width:90%;
 height:90%;
 margin-top:60px;
}