* {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

p, h1, h2, h3, h4, h5, h6 {
	cursor: default;
}

body {
	color: #fff;
	background-color: #fff;
}

$intro-background-color: #1976d2;
$links-background-color: #1976d2;
$form-background-color: #1976d2;
$projects-background-color: #0d47a1;
$link-color: #019be5;

$top-bar-color: #0d47a1;
$top-bar-color-active: #1565c0;

$form-text-color: #ffffff;
$form-focus-color: #90caf9;
$form-error-color: #ba5947;

a {
	color: $link-color;
}

.row, .col {
	padding: 0px !important;
	margin: 0px;
}

.page-big {
	#page-home-background {
		position: fixed;
		#page-home-inner {
			height: 100vh;
			overflow-y: auto;
		}
	}

	#projectLinks {
		position: fixed;
	}
}

#page-home-background {
	background-color: $form-background-color;

	#page-home-inner {
		padding: 0px !important;

		#page-home-intro {
			background-color: $intro-background-color;
			padding: 10%;
		}

		#page-home-links {
			padding-top: 5px;
			background-color: $links-background-color;

			.center-align {
				width: 100%;
			}

			img {
				width: 50px;
				height: 50px;
				margin: 0px;
				cursor: pointer;
				-webkit-transition: all 0.5s ease;
			    -moz-transition: all 0.5s ease;
			    -o-transition: all 0.5s ease;
			    transition: all 0.5s ease;
			    &:hover {
				    width: 70px;
					height: 70px;
					margin: -10px;
				    opacity:1;
				}
			}
		}
	}
}

#page-projects-background {
	background-color: $projects-background-color;
	min-height: 100vh;
}

#projectLinks {
	z-index: 11;
	top: 0;
	color: #fff;
	div {
		font-size: 150%;
		background-color: $top-bar-color;
		p {
			margin: 10px;
			cursor: pointer;
		}
	}

	.active {
		background-color: $top-bar-color-active;
	}
}

#githubLink {
	background-color: $top-bar-color;
	z-index: 11;
	padding: 10px;

	div {
		cursor: default;
		font-size: 150%;
	}
}

.stick-to-top {
	position: fixed;
	top: 0;
}

.image-overlay-main {
	position: relative;
	margin: 0px !important;
	margin-bottom: -6px !important;
	padding: 0px !important;

	.image-overlay-text {
		position: absolute;
	    opacity:0;
	    z-index: 10;
	    padding-left: 6%;
	    padding-right: 6%;
	    padding-top: 3.5%;
	    -webkit-transition: all 0.5s ease;
	    -moz-transition: all 0.5s ease;
	    -o-transition: all 0.5s ease;
	    transition: all 0.5s ease;

	    &:hover {
	    	opacity:1;
	    }

	    .image-overlay-text-title {
			text-align: center;
			font-style: bold;
		}
	}	

	.image-overlay-background {
		z-index:1;
		width: 100%;
		height: 100%;
	}

	.bubbleLink1 {
		@extend .bubbleLink;
		margin-left: -5%;
		&:hover {
			margin-left: -6%;
		}
	}

	.bubbleLink2 {
		@extend .bubbleLink;
		margin-left: 3%;
		&:hover {
			margin-left: 2%;
		}
	}

	.bubbleLink3 {
		@extend .bubbleLink;
		margin-left: 11%;
		&:hover {
			margin-left: 10%;
		}
	}

	.bubbleLink {
		z-index: 11;
		margin-top: -3%;
		width:10%;
		position:absolute;
		-webkit-transition: all 0.5s ease;
	    -moz-transition: all 0.5s ease;
	    -o-transition: all 0.5s ease;
	    transition: all 0.5s ease;
	    &:hover {
			margin-top: -4%;
			width:12%;
		}
	}
}

#contact-modal, #page-home-contact {
	padding: 10% !important;
	background-color: $form-background-color !important;
	max-height: 80vh !important;

	h5 {
		font-size: 130%;
		margin-bottom: 20px;
	}

	#send-to-button {
		float: right;
		margin-bottom: 20px;
	}

	.input-field {
	    label {
		    color: $form-text-color;
		}

		.prefix.active {
			color: $form-focus-color;
		}

		input[type=text], input[type=email], textarea[type=text] {
			box-shadow: none;
			border-bottom: 1px solid $form-text-color;
			color: $form-text-color;

	    	&:focus {
	    		border-bottom: 1px solid $form-focus-color;

	    		.invalid {
		    		border-bottom: 1px solid $form-error-color !important;
		    	}
	    	}
	    	&:focus + label {
				color: $form-focus-color;
			}
		}
	}
}